

<ng-container *ngIf="activationMessage as message; else noMessage">
  <div [ngClass]="getAlertClass(message)" class="alert mt-3">
    <ng-container *ngIf="showResendActivationLink; else noShowLink">
      
    </ng-container>
    <ng-template #noShowLink>
       {{ message }} <a (click)="resendActivationLink()">Renvoyer le lien d'activation</a>
    </ng-template>
     {{ message }} 
  </div>
</ng-container>

<ng-template #noMessage></ng-template>

<h1 class="text-center padding-top-50">Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="email">Email</label>
  <input type="email" id="email" formControlName="email" />
  <label for="password">Password</label>
  <input type="password" id="password" formControlName="password" />

  <button type="submit" class="btn btn-primary">Valider</button>

  <p class="text-center mt-3">
    <a routerLink="/registration" class="text-primary text-decoration-none">
      Pas encore de compte ? S'inscrire
    </a>
  </p>

</form>